@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "react-phone-input-2/lib/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f4f5fa;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 32px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.manageTable ::-webkit-scrollbar {
  display: none !important;
  width: 5px;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

/* swiper navigation buttons css here  */
.swiper-button-prev,
.swiper-button-next {
  color: #f8e4be !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  position: absolute;
  background-color: #86644c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px !important;
}

.swiper-button-prev::after {
  left: 20px;
}

.swiper-button-next::after {
  right: 20px;
}

.catgeory-swipper .swiper-slide {
  width: auto !important;
  white-space: nowrap; /* <-- Force no line-break */
  text-align: center;
}

.catgeory-swipper .swiper-wrapper {
  justify-content: flex-start !important; /* from center to left */
  column-gap: 10px !important;
  overflow: visible !important;
}

@media screen and (max-width: 640px) {
  .swiper-button-prev::after {
    left: 0px;
  }

  .swiper-button-next::after {
    right: 0px;
  }
}

.special-label {
  display: none;
}

.pac-container {
  z-index: 1600 !important;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Target the dropdown menu list */
.react-tel-input .country-list {
  background-color: #6f4e37 !important;
  color: #ffffff;
  border-radius: 8px;
}

/* Target hover and selected country item */
.react-tel-input .country-list .country:hover,
.react-tel-input .country-list .country.highlight {
  background-color: #322a23 !important;
  color: #ffffff !important;
}


/* Custom styling for the button */
.phone-input-button {
  border-radius: 12px; /* Ensure rounded corners by default */
  border: 1px solid #86644C;
  background-color: #fff;
  transition: all 0.3s ease; /* Smooth transition */
}

.phone-input-button:active {
  border-radius: 12px; /* Ensure rounded corners on active state */
  background-color: #f0f0f0; /* Change background on active */
}
